:root {
  --root-height: 100vh;

  --sidebar-y-padding: 1rem;
  --sidebar-width: 15.5rem;
  --sidebar-header-height: 6rem;
  --sidebar-body-padding-y: .5rem .9rem;
  --sidebar-background-color: #FFF;
  --sidebar-border: 1px solid rgba(236, 236, 236, 0.88);

  --btn-brand-bg-color: black;
  --btn-brand-border-color: black;
  --btn-brand-color: white;

  --btn-brand-outerLayer-bg-color: white;
  --btn-brand-outerLayer-border-color: black;
  --btn-brand-outerLayer-color: black;

  --header-height: 6rem;
  --header-padding-y: 0rem 0;
  --header-border: 1px solid #F3F3F3;
  --header-card-background-color: #FFF;

  --main-background-color: #f9f9f9;
  --main-content-padding-y: .7rem 0rem .4rem 0rem;

  --page-main-content-padding-y: 1rem .2rem;
}

.btn-brand-outerLayer-color {
  background-color: var(--btn-brand-outerLayer-bg-color) !important;
  color: var(--btn-brand-outerLayer-color) !important;
  border: 1px solid var(--btn-brand-outerLayer-border-color) !important;
  font-size: 14px !important;
}

.row {
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0 !important;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #aaa;

  width: 0rem;
}

/* ::-webkit-scrollbar-thumb {
  background: #000;
} */

.is-invalid {
  border-color: var(--bs-form-invalid-border-color) !important;
  padding-right: calc(1.5em + .75rem) !important;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath strokeLinejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat !important;
  background-position: right calc(.375em + .1875rem) center !important;
  background-size: calc(.75em + .375rem) calc(.75em + .375rem) !important;
}

.is-invalid:focus {
  box-shadow: 0 0 0 .25rem rgba(var(--bs-danger-rgb), .25) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eye-absolute {
  position: absolute;
  top: 3rem;
  right: 1.4rem;
}


/* sidebar  */
.sidebar {
  width: var(--sidebar-width);
  height: var(--root-height);
  padding: var(--sidebar-y-padding) 0;
  background: var(--sidebar-background-color);
  border: var(--sidebar-border);
}

.sidebar-header {
  height: calc(var(--sidebar-header-height) - var(--sidebar-y-padding));
}

.sidebar-body-with-footer {
  height: calc(var(--root-height) - (var(--sidebar-y-padding) + 2rem) - var(--sidebar-header-height) - var(--sidebar-body-footer-height));
  padding: var(--sidebar-body-padding-y);
}

.sidebar-body-without-footer {
  height: calc(var(--root-height) - (var(--sidebar-y-padding) + 2rem) - var(--sidebar-header-height));
  padding: var(--sidebar-body-padding-y);
}

.sidebar-footer {
  height: var(--sidebar-body-footer-height);
}

.navlink-sidebar.active {
  background-color: var(--btn-brand-bg-color);
  color: var(--btn-brand-color) !important;

}

.navlink-sidebar:hover {
  background-color: #e3e3e382;
  font-weight: bold;
}

.navlink-sidebar.active:hover {
  background-color: var(--btn-brand-bg-color);
  color: var(--btn-brand-color) !important;

}

.navlink-sidebar.active svg path {
  stroke: white !important;
}

/*  */


/* header  */
header {
  height: var(--header-height);
}

.header-card {
  padding: var(--header-padding-y);
  border: var(--header-border) !important;
  background-color: var(--header-card-background-color) !important;
}

.header-icon-tag-width {
  width: 4.5rem;
  text-align: center;
}

.header-icon-width {
  width: 3rem;
  height: 3rem;
  border-radius: 12px !important;
  border: 1px solid #E7EAE9 !important;
  background: #FFF !important;
  text-align: center !important;
}

/*  */


.btn-brand-color {
  background-color: var(--btn-brand-bg-color) !important;
  border: 1px solid var(--btn-brand-border-color) !important;
  color: var(--btn-brand-color) !important;
  font-size: 14px !important;
}

.btn-brand-color:hover {
  background-color: var(--btn-brand-bg-color) !important;
  border: 1px solid var(--btn-brand-border-color) !important;
  color: var(--btn-brand-color) !important;
}


/* main  */
.main {
  background-color: var(--main-background-color);
  height: var(--root-height);
}

.modal-90w {
  width: 60vw !important;
  max-width: 60vw !important;
}

.hr_main_rendering_contents_height {
  height: calc(var(--root-height) - (var(--header-height) + 1rem));
  padding: var(--main-content-padding-y);
  overflow-y: hidden;
}

.interview_create_button_below_content {
  height: calc(var(--root-height) - (var(--header-height)));
  padding: 2rem 0;
  margin: .5rem 0;
  overflow-y: scroll;
}

.hr-line-color {
  border: 1px solid #dedcdc;
}

.modal-border-radius {
  border-radius: 10px !important;
}

.modal-header {
  padding: .8rem 1rem !important;
}

.modalHeaderClassname {
  border: 1px solid #dedcdc;
}

.campaign-card {
  border-radius: 10px !important;
  border: 1px solid #F3F3F3 !important;
  background: #FFF;
  box-shadow: 82px 50px 27px 0px rgba(79, 79, 79, 0.00), 52px 32px 25px 0px rgba(79, 79, 79, 0.01), 29px 18px 21px 0px rgba(79, 79, 79, 0.05), 13px 8px 15px 0px rgba(79, 79, 79, 0.09), 3px 2px 8px 0px rgba(79, 79, 79, 0.10);
  position: relative;
}

.campagin-card-body-fs {
  font-size: 15px;
}

.campaign-card-header {
  border-bottom: 1px solid #F1F1F1;
}

.campaign-edit-or-delete-card {
  position: absolute;
  top: 1.7rem;
  right: 2.4rem;
  background-color: white;
  border: 1px solid rgba(128, 128, 128, 0.189);
  width: 10rem !important;
  padding: .5rem 0;
  border-radius: 6px;
}

.campaign-edit-or-delete-card ul li {
  list-style: none;
  padding: .5rem 0 .5rem 1rem;
  font-size: 16px;
  font-weight: 400;
  border-bottom: 1px solid #F3F3F3;
  cursor: pointer;
}

.campaign-edit-or-delete-card ul li:hover {
  background-color: #F3F3F3;
}

.small-size-font {
  font-size: .85rem;
}

.cursor-pointer {
  cursor: pointer;
}


.btn-transparent {
  background-color: transparent !important;
}

table thead,
table tbody {
  vertical-align: middle !important;
}

tbody td {
  color: gray !important;
  padding: .8rem !important;
}

thead th {
  padding: 1rem !important;
}



.candidateTableOffcanvas {
  width: 35vw !important;
  max-width: 35vw !important;
}

.offcanvasHeaderHeight {
  height: 7% !important;
}

.offcanvasBodyHeight {
  height: 60% !important;
}



@media(min-width:768px) {
  .create-button-size {
    width: 11rem;
  }
}

@media(min-width:576px) {
  .responsive-not-found-width {
    width: 24rem !important;
  }
}